Loan Status Prediction : Project

In [183]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [184]:
data=pd.read_csv('Loan_Dataset.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [185]:
data.shape

(614, 13)

In [186]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [187]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [188]:
data.drop('Loan_ID', axis=1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [189]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [190]:
data.isnull().sum()*100 / len (data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [191]:
columns_less_than_5_percent = ['Gender', 'Married', 'Dependents', 'LoanAmount', 'Loan_Amount_Term']
data=data.dropna(subset=columns_less_than_5_percent, axis=0)

Handling Missing Values

In [192]:
data['Self_Employed'].mode()

0    No
Name: Self_Employed, dtype: object

In [193]:
data['Self_Employed']=data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [194]:
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [195]:
data.replace({'Loan_Status':{'N':0, 'Y':1}}, inplace=True)

In [196]:
data['Dependents'].value_counts()

0     316
1      96
2      96
3+     45
Name: Dependents, dtype: int64

In [197]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Handling Categorical Columns

In [198]:
data['Dependents'].unique()

array(['1', '0', '2', '3+'], dtype=object)

In [199]:
data['Dependents']=data['Dependents'].replace(to_replace='3+', value=4)

In [200]:
data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [201]:
data.Married.unique()

array(['Yes', 'No'], dtype=object)

In [202]:
data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [203]:
data.Self_Employed.unique()

array(['No', 'Yes'], dtype=object)

In [204]:
data.Property_Area.unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [205]:
data.Loan_Status.unique()

array([0, 1], dtype=int64)

In [206]:
data.replace({'Married':{'No':0, 'Yes':1}, 'Gender':{'Male':1, 'Female':0}, 'Self_Employed':{'No':0, 'Yes':1}, 'Property_Area':{'Rural':0, 'Urban':2, 'Semiurban':1}, 'Education': {'Graduate':1, 'Not Graduate':0}, 'Loan_Status':{'Y':1, 'N':0}}, inplace=True )

In [207]:
data['Gender']=data['Gender'].astype('int')
data['Married']=data['Married'].astype('int')
data['Self_Employed']=data['Self_Employed'].astype('int')
data['Property_Area']=data['Property_Area'].astype('int')
data['Education']=data['Education'].astype('int')
data['Loan_Status']=data['Loan_Status'].astype('int')

In [208]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1

In [209]:
data.drop('Loan_ID', axis=1, inplace=True)

In [210]:
X=data.drop('Loan_Status', axis=1)
y=data['Loan_Status']

Feature Scaling

In [211]:
cols=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [212]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
X[cols]=st.fit_transform(X[cols])
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,2
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,2
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,2
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,2

Cross validation to test accuracy of different models

In [213]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [214]:
model_df={}
def model_val(model, X,y):
    X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.20, random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test, y_pred)}")

    score=cross_val_score(model,X,y,cv=5)
    print(f"{model} average cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100, 2)

In [215]:
from sklearn.linear_model import LogisticRegression

In [216]:
lr=LogisticRegression()
model_val(lr,X,y)

LogisticRegression() accuracy is 0.7927927927927928
LogisticRegression() average cross val score is 0.802964782964783

In [217]:
from sklearn import svm

In [218]:
svm=svm.SVC()
model_val(svm,X,y)

SVC() accuracy is 0.8018018018018018
SVC() average cross val score is 0.7938902538902539

In [219]:
from sklearn.tree import DecisionTreeClassifier

In [220]:
dtf=DecisionTreeClassifier()
model_val(dtf, X, y)

DecisionTreeClassifier() accuracy is 0.7387387387387387
DecisionTreeClassifier() average cross val score is 0.6925634725634725

In [221]:
from sklearn.ensemble import RandomForestClassifier

In [222]:
rfc=RandomForestClassifier()
model_val(rfc, X, y)

RandomForestClassifier() accuracy is 0.7747747747747747
RandomForestClassifier() average cross val score is 0.773955773955774

In [223]:
from sklearn.ensemble import GradientBoostingClassifier

In [224]:
gbc=GradientBoostingClassifier()
model_val(gbc,X,y)

GradientBoostingClassifier() accuracy is 0.7747747747747747
GradientBoostingClassifier() average cross val score is 0.7757739557739558

In [225]:
model_df

{LogisticRegression(): 80.3,
 SVC(): 79.39,
 DecisionTreeClassifier(): 69.26,
 RandomForestClassifier(): 77.4,
 GradientBoostingClassifier(): 77.58}

Logistic Regression

In [226]:
from sklearn.model_selection import RandomizedSearchCV

In [227]:
log_reg_grid={'C':np.logspace(-4,4,20), 'solver':['liblinear']}

In [228]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(), param_distributions=log_reg_grid, n_iter=20, cv=5, verbose=True)

In [229]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [230]:
rs_log_reg.best_score_

0.802964782964783

In [231]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

SVC

In [232]:
from sklearn import svm

In [233]:
svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [234]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

Random Forest Classifier

In [235]:
RandomForestClassifier()

RandomForestClassifier()

In [236]:
rf_grid={'n_estimators':np.arange(10,1000,10),'max_features':['auto','sqrt'],'max_depth':[None,3,5,10,20,30],'min_samples_split':[2,5,20,50,100],'min_samples_leaf':[1,2,5,10]
 }

In [237]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),param_distributions=rf_grid,cv=5, n_iter=20, verbose=True)

In [238]:
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [239]:
rs_rf.best_score_

0.8066175266175266

In [240]:
rs_rf.best_params_

{'n_estimators': 810,
 'min_samples_split': 50,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 30}

Saving the Random Forest Classifier Model (Highest Score)

In [241]:
rf = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)

In [242]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [243]:
import joblib

In [254]:
joblib.dump(rf,'loan_status_prediction')

['loan_status_prediction']

In [255]:
model = joblib.load('loan_status_prediction')

In [257]:
model = joblib.load('loan_status_prediction')
import pandas as pd
entries= pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents':0,
    'Education':1,
    'Self_Employed':0,
    'ApplicantIncome':3500,
    'CoapplicantIncome':3500.0,
    'LoanAmount':45,
    'Loan_Amount_Term':360,
    'Credit_History':1,
    'Property_Area':2
},index=[0])

In [258]:
entries

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,1,0,3500,3500.0,45,360,1,2

In [259]:
result = model.predict(entries)

In [253]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Approved